body {
    background-color: rgb(87, 87, 87);
    width: 1200px;
    margin: auto;
    font-size: xx-large;
}

#logo_img {
    float: left;
    width: 18%;
}

#logo_words {
    width: 900px;
    height: 100px;
    float: right;
    text-align: center;
    font-size: 50px;
    /* margin-top: 60px; */
}

#header {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: serif;
    height: 110px;
}

.menu_link {
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    text-decoration: none;
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
}

#menu_bar {
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(26, 25, 25);
    text-align: left;
}

#home_text {
    width: 900px;
    color: rgb(0, 0, 0);
    float: right;
}

#users_table th {
    border: 0.5px solid black;
    padding: 8px;
}

#customers td,
#customers th {
    border-spacing: 10px;
}