body {
    background-color: rgb(87, 87, 87);
    width: 1200px;
    margin: auto;
    font-size: xx-large;
}

#logo_img {
    float: left;
    width: 18%;
}

#logo_words {
    width: 900px;
    height: 100px;
    float: right;
    text-align: center;
    font-size: 250%;
    max-height: 110px;
    /* margin-top: 60px; */
}

#header {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: serif;
    height: 110px;
    overflow: hidden;
}

.menu_link {
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    text-decoration: none;
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
}

#menu_bar {
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    /* background-color: rgb(150, 0, 0); */
    /* background: rgb(255, 0, 0);
    background: rgb(255, 0, 0);
    background: rgb(255, 0, 0); */
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.9766281512605042) 0%, rgba(190, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 72%);
    text-align: left;
}

#home_text {
    background-color: rgb(151, 151, 151);
    color: rgb(0, 0, 0);
    float: right;
    padding: 1%;
    border: 6px solid white;
    width: 77%;
    padding: 2%;
    text-align: justify;
}

#users_table th {
    border: 5px solid black;
    color: white;
    /* padding: 8px; */
}

#users_table {
    border-collapse: collapse;
    margin-top: 1%;
    margin-left: 1%;
    align-self: auto;
    width: 98%;
    height: 88%;
}

#user_table_block {
    width: 82%;
    height: 200px;
    background-color: rgb(209, 59, 59);
    float: right;
    vertical-align: 0%
}

#user_link {
    text-decoration: none;
    color: white;
}

.user_info {
    background: rgb(181, 0, 0);
    background: rgb(181, 0, 0);
    background: linear-gradient(180deg, rgba(181, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 1) 73%, rgba(156, 0, 0, 1) 100%, rgba(156, 0, 0, 1) 100%);
    padding: 5px;
    height: 300px;
    float: right;
}

#user1_img {
    width: 300;
    height: 200;
}

#login {
    background: rgb(0, 0, 0);
    color: white;
    font-family: serif;
    font-size: 30px;
    text-align: center;
}

#user_more_info {
    margin-top: 150px;
}

#details_list {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.9766281512605042) 0%, rgba(190, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 72%);
    float: right;
    border: 6px solid white;
    width: 77%;
    /* height: 230px; */
    padding: 2%;
    margin: 0%;
    list-style-type: none;
}

.detail_link {
    text-decoration: none;
    font-family: serif;
    font-size: 40px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(156, 0, 0, 1) 100%, rgba(156, 0, 0, 1) 100%);
    border: 5px solid black;
    padding: 10px;
    margin-top: 5px
}

a {
    text-decoration: none;
    color: white;
}

.detail_img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    float: right;
}

#detail_more_info {
    margin-top: 150px;
}

#about_info {
    margin-top: 150px;
}